<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #c1 ,#c2 ,#c3 ,#c4{
        border-radius: 50%;
        box-shadow: rgba(22,165,130,0.89) 10px 5px 20px;
    }

</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card bg-primary text-center text-white" id="c1">
                <div class="card-header">
                    <h4 class="card-title">Total Orders</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ total_orders }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-danger text-center text-white" id="c2">
                <div class="card-header">
                    <h4 class="card-title">Pending</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ pending }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-warning text-center text-white" id="c3">
                <div class="card-header">
                    <h4 class="card-title">Delivered</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ delivered }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card bg-success text-center text-white" id="c4">
                <div class="card-header">
                    <h4 class="card-title">Out for Delivery</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ outfordelivery }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
